header {
	margin-top: 10px;
}

.navbar {
	padding-top: 0px;
	border: 0;
	margin-top: 0px;
	margin-left: 0;
}


.container-fluid {

	margin: 0;
	padding: 0; 
}

.content .pr p{
	font-size: 12pt;
	font-family: Open Sans;
	margin-top: 50px;
	padding-bottom: 20px;
}

footer {
	background-color: #333;
	min-height: 350px;
	padding: 15px;
	margin: 0 auto;
}


footer span.fBaslik {
	font: 16px "Open Sans";
	font-weight: 700;
	color: white;
}

footer ul{
	list-style: none;
	margin: 0px 0px 20px 0px;
	padding: 0;

}

footer ul li{
	list-style: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: white;
}

footer ul a{
	text-decoration: none;
	color: white;

}

footer .falan {

	margin-top: 10px;

}


footer .powered {

	background-color: #292929;
	padding-bottom: 3px;
	padding-top: 3px;

}


h1{
	font-family: "Open Sans";
	font-weight: 700;
	line-height: 1.42857143;
	color:#2a8a42;

}
h2{
	font-family: "Open Sans";
	font-weight: 700;
	line-height: 1.42857143;
	
}
h3{
	font-family: font-family: arial,helvetica,sans-serif; font-size: 14pt; color: #00963f;
	font-weight: 700;
	line-height: 1.42857143;

}
h4{
	font-family: "Open Sans";
	font-weight: 700;
	line-height: 1.42857143;
}
h5{
	font-family: "Open Sans";
	font-weight: 700;
	line-height: 1.42857143;
}
h6{
	font-family: "Open Sans";
	font-weight: 700;
	line-height: 1.42857143;
}

.hakkimizda p {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.7;
	color: #807e7e;
	font-size: 17px;
}


a.link {

	font-weight: bold;
	color: #555555;

	font-family: Arial, Helvetica, sans-serif;

	vertical-align: baseline;
}

a.link:hover {

	font-weight: bold;
	color: #555555;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	vertical-align: baseline;
}

a.img-circle  {

	padding-top: 35px;
}

.hizmetlerimiz b {
	margin-top: 13px;
	font-family: Open Sans;
	font-size: 20px;
	color: #555555;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 0 1px 0 rgba(255,255,255,.7);
}

.hizmetlerimiz .col-lg-3{

	padding-top: 10px;
}

.hizmetlerimiz {

	margin-bottom:200px;
	margin-top: 50px;
}
footer a:hover {

	color: white;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	vertical-align: baseline;
}

hr {
	display: block;
	unicode-bidi: isolate;
	-webkit-margin-before: 0.5em;
	-webkit-margin-after: 0.5em;
	-webkit-margin-start: auto;
	-webkit-margin-end: auto;
	overflow: hidden;
	margin-bottom: 50px;
	margin-top:200px;
}

.navbar a{

	font-size: 14px;
	font-family: "Open Sans";
	font-weight: bold;
	background: #f8f8f8;
	text-align: center;
	z-index: 10;
}

.navbar a:hover{
	transition: 0.5s;
	background: #BCBABA ! important;
	z-index: 11;
}



.google-maps {
	position: relative;
	padding-bottom: 75%; // This is the aspect ratio
	height: 0;
	overflow: hidden;
	margin-bottom: -35%;
	margin-top: -70px;
}
.google-maps iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 50% !important;
	padding-top:20px;
	padding-bottom: 20px;
}

/*ŞUBELER İÇİN GOOGLE MAPS*/

.google-map {
	position: relative;
	padding-bottom: 75%; // This is the aspect ratio
	height: 0;
	overflow: hidden;
	margin-bottom: 10%;

	
}
.google-map iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
	padding-top:20px;
	padding-bottom: 1px;
}

.face {

	margin-bottom: 20%;
}
.fg {

	margin:0px 0px 50% 0px;

}

.beste {
	margin-bottom: 15px;
}

.ekip a{

	color: green;
	text-decoration: none;
}

.makale {

	font-family: font-family: arial,helvetica,sans-serif; font-size: 12pt;
	color: #747474;
}
.geri{
	margin: 40px;
}
.geri a{
	text-decoration: none;
}
.tablet{
	margin-top: 40px;
	margin-bottom: 20px;
	padding:30px;
}
.tablet:hover {
	transition: 0.7s;
	background: #cecece;
	padding: 10px;
}

.iletisim {
	border-color: #eeeeee;
	border-style:solid;
	width: 100%;
	height: 300px;
	padding-top: 60px;
	margin-top: 30px;
	margin-bottom: 5%;
}
.adres {
	border-color: #eeeeee;
	border-style:solid;
	margin-bottom: 15px;
	padding-top: 20px;
}

.h1-kutu{
	background: rgba(73,155,234,1);
	background: -moz-linear-gradient(left, rgba(73,155,234,1) 2%, rgba(61,176,204,1) 31%, rgba(53,192,183,1) 52%, rgba(51,195,178,1) 57%, rgba(34,227,134,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(2%, rgba(73,155,234,1)), color-stop(31%, rgba(61,176,204,1)), color-stop(52%, rgba(53,192,183,1)), color-stop(57%, rgba(51,195,178,1)), color-stop(100%, rgba(34,227,134,1)));
	background: -webkit-linear-gradient(left, rgba(73,155,234,1) 2%, rgba(61,176,204,1) 31%, rgba(53,192,183,1) 52%, rgba(51,195,178,1) 57%, rgba(34,227,134,1) 100%);
	background: -o-linear-gradient(left, rgba(73,155,234,1) 2%, rgba(61,176,204,1) 31%, rgba(53,192,183,1) 52%, rgba(51,195,178,1) 57%, rgba(34,227,134,1) 100%);
	background: -ms-linear-gradient(left, rgba(73,155,234,1) 2%, rgba(61,176,204,1) 31%, rgba(53,192,183,1) 52%, rgba(51,195,178,1) 57%, rgba(34,227,134,1) 100%);
	background: linear-gradient(to right, rgba(73,155,234,1) 2%, rgba(61,176,204,1) 31%, rgba(53,192,183,1) 52%, rgba(51,195,178,1) 57%, rgba(34,227,134,1) 100%);
	height: 30px;
	text-align: right;

}
.h1-kutu-b{
	background: rgba(73,155,234,1);
	background: -moz-linear-gradient(left, rgba(73,155,234,1) 2%, rgba(61,176,204,1) 31%, rgba(53,192,183,1) 52%, rgba(51,195,178,1) 57%, rgba(34,227,134,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(2%, rgba(73,155,234,1)), color-stop(31%, rgba(61,176,204,1)), color-stop(52%, rgba(53,192,183,1)), color-stop(57%, rgba(51,195,178,1)), color-stop(100%, rgba(34,227,134,1)));
	background: -webkit-linear-gradient(left, rgba(73,155,234,1) 2%, rgba(61,176,204,1) 31%, rgba(53,192,183,1) 52%, rgba(51,195,178,1) 57%, rgba(34,227,134,1) 100%);
	background: -o-linear-gradient(left, rgba(73,155,234,1) 2%, rgba(61,176,204,1) 31%, rgba(53,192,183,1) 52%, rgba(51,195,178,1) 57%, rgba(34,227,134,1) 100%);
	background: -ms-linear-gradient(left, rgba(73,155,234,1) 2%, rgba(61,176,204,1) 31%, rgba(53,192,183,1) 52%, rgba(51,195,178,1) 57%, rgba(34,227,134,1) 100%);
	background: linear-gradient(to right, rgba(73,155,234,1) 2%, rgba(61,176,204,1) 31%, rgba(53,192,183,1) 52%, rgba(51,195,178,1) 57%, rgba(34,227,134,1) 100%);
	height: 100%;

}


.h2-kutu{
	font-size: 14px;
	padding: 10px 0;
	position: relative;
	z-index: 1001;
	background-color: #fafafa;
	color: #a5a5a5;

}
.sosyal-h{

}
.sosyal-h i{
	color: #b2b2b2;
	font-size: 20px;
}
.sosyal-h i:hover{

	color: #54a9ff;
}
.header-iletisim span{
	font-size: 12px;
	font-family: "Open Sans";

	color: #a5a5a5;
	;
	
}
.header-iletisim{
	margin-top: 0px;
	
}
.header-iletisim i{
	vertical-align:middle;
}


.baslik-resmi {
	margin-top: 10px;
	max-width: 350px;
	margin-left: auto;
	margin-right: auto;
}
.slider {
	margin-top: -50px;
}

@media screen and (max-width: 991px) {
	.baslik-resmi{
		display: none;
	}
}

.randevu-kutusu{
	/*background: skyblue;*/

	height: 500px;
	padding: 30px;
	margin: 0;


}
.son-blog {
	/*background: cornflowerblue;*/

	height: 500px;
	padding: 30px;

}
.calisma-saatleri {
	/*background: mediumpurple;*/

	height: 500px;
	padding: 30px;

}
.randevu-kutusu:hover{
	transition: 0.7s;
	background: #46b9ea;
}

.son-blog:hover{
	transition: 0.7s;
	background: #5892d3;
}
.calisma-saatleri:hover{
	transition: 0.7s;
	background: #6e6bba;

}


.content-bolum1 {
	background: rgba(110,198,236,1);
	background: -moz-linear-gradient(left, rgba(110,198,236,1) 12%, rgba(110,198,236,1) 31%, rgba(115,160,212,1) 34%, rgba(115,160,212,1) 36%, rgba(115,160,212,1) 66%, rgba(129,126,188,1) 68%);
	background: -webkit-gradient(left top, right top, color-stop(12%, rgba(110,198,236,1)), color-stop(31%, rgba(110,198,236,1)), color-stop(34%, rgba(115,160,212,1)), color-stop(36%, rgba(115,160,212,1)), color-stop(66%, rgba(115,160,212,1)), color-stop(68%, rgba(129,126,188,1)));
	background: -webkit-linear-gradient(left, rgba(110,198,236,1) 12%, rgba(110,198,236,1) 31%, rgba(115,160,212,1) 34%, rgba(115,160,212,1) 36%, rgba(115,160,212,1) 66%, rgba(129,126,188,1) 68%);
	background: -o-linear-gradient(left, rgba(110,198,236,1) 12%, rgba(110,198,236,1) 31%, rgba(115,160,212,1) 34%, rgba(115,160,212,1) 36%, rgba(115,160,212,1) 66%, rgba(129,126,188,1) 68%);
	background: -ms-linear-gradient(left, rgba(110,198,236,1) 12%, rgba(110,198,236,1) 31%, rgba(115,160,212,1) 34%, rgba(115,160,212,1) 36%, rgba(115,160,212,1) 66%, rgba(129,126,188,1) 68%);
	background: linear-gradient(to right, rgba(110,198,236,1) 12%, rgba(110,198,236,1) 31%, rgba(115,160,212,1) 34%, rgba(115,160,212,1) 36%, rgba(115,160,212,1) 66%, rgba(129,126,188,1) 68%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ec6ec', endColorstr='#817ebc', GradientType=1 );
	height: 500px;

}

.hizmetlerimiz-acilir-menu {
	padding-top: 50px;
}

.content-bolum2 .hizmetlerimiz-baslik {
	padding-top: 40px;
	font-family: Open Sans;

}

@media screen and (max-width: 991px) {

	.randevu-kutusu{
		background: skyblue;
	}
	.son-blog{
		background: cornflowerblue;
		height: 100%;
	}
	.calisma-saatleri{
		background: #817ebc;
		height: 500px;
		padding: 0px 20px 200px 0px;
	}
	.content-bolum1 {
		background: transparent;
	}

}

#yol-tarifi {
	
	border-style:solid;
	border-color: #eeeeee;
	margin-top: 20px;
	padding-top: 35px;
	padding-bottom: 35px;	
}
.yol-tarifi {
	
	border-style:solid;
	border-color: #eeeeee;
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 10px;	
}
